<script>
  <% if (is_logged_in?) %>
  window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
</script>

<div id="root">
react not working

</div>
