<!DOCTYPE html>
<html>
  <head>
    <title>BenchBnB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRHCW601wa8z43Ydj1SOE9oDfADCI-iaQ"
  type="text/javascript">
    </script>
    <%= yield %>
  </body>
</html>
